In [ ]:
Introduction to tuple datatype:
    
    Definition: A tuple is nothing but an immutable list.
        An immutable list is called a tuple.
    Classification: it is classified as an immutable datatype.
        how do you define a tuple...?()----> General brackets.

In [1]:
students=('hari','sai','chandana','keerthi')
print(students)

('hari', 'sai', 'chandana', 'keerthi')

In [2]:
type(students)

tuple

In [ ]:
Req: i want to replace hari with ravi

In [3]:
students[0]='ravi' # 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [4]:
dimension=(200,50) #L*B
print(dimension)

(200, 50)

In [5]:
print(students)

('hari', 'sai', 'chandana', 'keerthi')

In [6]:
students[1]

'sai'

In [ ]:
# for loop implimentation on top of a tuple:

In [7]:
for x in students:
    print(x)

hari
sai
chandana
keerthi

In [ ]:
Introduction to dictionary datatype:
    
    defintion: A dictionary is a combination of key-value pairs.
    classification: A dictionary is classified as mutable datatype.
        how to define a dictionary...?{}
   
Note: It is the most widely used datatype across the applications.

In [8]:
alien={'color':'green','points':5}
print(alien)

{'color': 'green', 'points': 5}

In [ ]:
Note: In dictionary we can use keys to acess the data:

In [9]:
alien['color'] # key---->value

'green'

In [10]:
alien['points']

5